.Gif {
    margin: 1px;
}

.Gif h4 {
    margin: 0;
}

.Gif img {
    max-width: 200px;
    border-radius: 5px;
    border: 2px solid #ff8398;
}
.Gif img:hover {
    opacity: 0.5;
    box-shadow: 0px 0px 10px #ff4665;

}