.link{
    color: floralwhite;
 text-decoration: none;
}

.list{
    background-color: #ff3f5c;
    border-radius: 0%;
    border-style: dotted;
    justify-content: center;
    list-style:none;
    margin-bottom: 16px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
}

ul{
    padding:0;
    text-decoration: none;
}
.search{
    font-weight: bold;
}

input{
    border-color: #ff8398;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 16px;
    background-color: #383838;
    color: #ffffff;
    outline: none;
}
