.App {
    text-align: center;
}

.App-content {
    align-items: center;
    background-color:  #0e0d0d ;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: calc(10px +2vmin);
    min-height: 100vh;
}

.gifLogo {
    margin: 25px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.content-body{
    height: 70%;
}

.content-header{
    height: 30%;
}

a{
    color:"#0pf";
    font-size: 32px;
}